@mixin section {
  background: #4b4a4a;
  h2,
  h3,
  h4,
  h5 {
    color: #dad8d8;
  }
  p {
    color: #a8a7a7;
  }
}
@mixin h3 {
  color: #000000;
  font-family: "Roboto - Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
@mixin subtitle {
  color: #777777;
  font-family: "Roboto - Light";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 1.5em;
}
@mixin paragraph {
  font-size: 14px;
  line-height: 1.8em;
  color: #777777;
  font-weight: 400;
}
@mixin heading {
  font-size: 18px;
  letter-spacing: .2em;
  color: #000000;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@mixin loadMoreBtn {
   margin: 0 auto;
    padding: 10px 23px;
    background: #959595;
    max-width: 125px;
    border-radius: 2px;
    transition: .7s;
        a {
      font-size: 13px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
    }
}