@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

header {
  background: #fff;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(97, 71, 71, 0.15);
  box-shadow: 1px 2px 5px 1px rgba(97, 71, 71, 0.15);
  position: relative;
  z-index: 100;
}

header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1102px) {
  header .header__nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

header .header__nav .header__logo {
  width: 131px;
  height: 35px;
}

header .header__nav .header__nav__list {
  margin-left: 60px;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list {
    display: none;
  }
}

header .header__nav .header__nav__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  position: absolute;
  padding-top: 40px;
  top: 0;
  right: 0;
  width: 100%;
  height: 250px;
  border-radius: 2px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background: #413f3fcb;
  font-size: 20px;
}

header .header__nav .header__nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.5em;
    margin-left: 30px;
  }
}

header .header__nav .header__nav__list ul li:not(:last-child) {
  margin-right: 45px;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list ul li:not(:last-child) {
    margin-right: 0px;
  }
}

header .header__nav .header__nav__list ul li a {
  color: #777777;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__nav .header__nav__list ul li a::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 50%;
  width: 20px;
  height: 2px;
  background: #06060a;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header__nav .header__nav__list ul li a:hover {
  color: #000;
}

header .header__nav .header__nav__list ul li a:hover::after {
  opacity: 1;
}

header .header__nav .header__nav__list ul li a.active {
  color: #000;
}

header .header__nav .header__nav__list ul li a.active::after {
  opacity: 1;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list ul li a {
    color: #ffffff;
    line-height: 2;
  }
}

header .header__nav .header__mini__nav {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header__nav .header__mini__nav .header__search a i {
  color: #444444;
  font-weight: 700;
}

header .header__nav .header__mini__nav .header__burger {
  margin-left: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid #6d6e71;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  z-index: 1100;
  cursor: pointer;
}

header .header__nav .header__mini__nav .header__burger .header__line {
  display: block;
  width: 20px;
  height: 2px;
  background: #6d6e71;
}

header .header__nav .header__mini__nav .header__burger .header__line_middle {
  margin: 5px 0;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__mini__nav .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
  }
}

header .header__nav .header__mini__nav .theme__btn {
  margin-left: 30px;
}

@media screen and (max-width: 560px) {
  header .header__nav .header__mini__nav .theme__btn {
    margin-left: 20px;
  }
}

header .header__nav .header__mini__nav .theme__btn .switch-btn {
  display: inline-block;
  width: 62px;
  /* ширина переключателя */
  height: 24px;
  /* высота переключателя */
  border-radius: 12px;
  /* радиус скругления */
  background: #bfbfbf;
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  /* анимация */
}

@media screen and (max-width: 560px) {
  header .header__nav .header__mini__nav .theme__btn .switch-btn {
    width: 42px;
    /* ширина переключателя */
    height: 14px;
    /* высота переключателя */
  }
}

header .header__nav .header__mini__nav .theme__btn .switch-btn::after {
  content: "";
  height: 36px;
  /* высота кнопки */
  width: 36px;
  /* ширина кнопки */
  border-radius: 18px;
  /* радиус кнопки */
  background: #fff;
  /* цвет кнопки */
  top: -6px;
  /* положение кнопки по вертикали относительно основы */
  left: -6px;
  /* положение кнопки по горизонтали относительно основы */
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  /* анимация */
  -webkit-box-shadow: 0 0 10px 0 #999999;
  box-shadow: 0 0 10px 0 #999999;
  /* тень */
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 560px) {
  header .header__nav .header__mini__nav .theme__btn .switch-btn::after {
    height: 20px;
    /* высота кнопки */
    width: 20px;
    /* ширина кнопки */
    top: -4px;
  }
}

header .header__nav .header__mini__nav .theme__btn .switch-on {
  background: #fff;
  -webkit-box-shadow: inset 0 0 10px 0 #999999;
  box-shadow: inset 0 0 10px 0 #999999;
  /* тень */
}

header .header__nav .header__mini__nav .theme__btn .switch-on::after {
  left: 30px;
  background: #505050;
}

.heading {
  padding: 0;
  background: #f0f0f2;
  height: 350px;
  height: 100%;
  width: 100%;
}

.heading .heading__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.heading .heading__content .heading__pic {
  margin-left: auto;
}

.heading .heading__content .heading__pic img {
  max-width: 700px;
  width: 100%;
}

.heading .heading__content .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading .heading__content .container .heading__text {
  position: absolute;
  top: 50%;
  left: 220px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 660px) {
  .heading .heading__content .container .heading__text {
    left: 170px;
  }
}

.heading .heading__content .container .heading__text h1 {
  white-space: nowrap;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 15px 0 15px 0px;
}

@media screen and (max-width: 760px) {
  .heading .heading__content .container .heading__text h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 367px) {
  .heading .heading__content .container .heading__text h1 {
    font-size: 20px;
  }
}

.heading .heading__content .container .heading__text p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.heading__portfolio {
  background-color: #e2e2e2;
}

.heading__portfolio .heading__text {
  left: 320px;
}

@media screen and (max-width: 660px) {
  .heading__portfolio .heading__text {
    left: 170px;
  }
}

.heading__blog {
  padding: 0;
}

.heading__blog .heading__content img {
  height: 350px;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.heading__blog .heading__content .container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading__blog .heading__content .container .heading__text {
  position: absolute;
  top: 50%;
  left: 22%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading__blog .heading__content .container h1 {
  max-width: 470px;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 15px 0 15px 0px;
}

@media screen and (max-width: 760px) {
  .heading__blog .heading__content .container h1 {
    font-size: 40px;
  }
}

.heading__blog .heading__content .container p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.blog__post h2 {
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.blog__post .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__post .subtitle .subtitle__text {
  color: #777777;
  margin: 20px 0;
  font-weight: 700;
}

.blog__post .subtitle .subtitle__text:not(:last-child) {
  margin-right: 65px;
}

.blog__post .subtitle .subtitle__text i {
  margin-right: 10px;
}

.blog__post .blog__post__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__post .blog__post__img img {
  max-width: 945px;
  width: 100%;
}

.blog__post .blog__post__text {
  line-height: 2em;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  padding: 25px 60px;
}

.blog__post h3 {
  line-height: 2em;
  color: #777777;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 60px;
  margin-top: 30px;
}

.blog__post .blog__post__quote {
  padding: 20px 40px;
  font-size: 18px;
  line-height: 30px;
  color: #777777;
  font-family: "PT Serif";
  font-weight: 700;
  font-style: italic;
  border: 1px solid #e1e1e1;
  border-left: 5px solid #c8c8c8;
}

.blog__post__form {
  background: #fafafa;
}

.blog__post__form h4 {
  font-size: 20px;
  letter-spacing: 4px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.blog__post__form .form {
  margin-right: auto;
  margin-left: auto;
  max-width: 810px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form .form__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.blog__post__form .form .blog__post__form__input {
  background: #fafafa;
  max-width: 250px;
  width: 100%;
  margin: 50px 0 20px 0;
  padding: 12px 0;
  padding-left: 10px;
  outline: none;
  color: #c4c4c4;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form .blog__post__form__input {
    margin: 0px 0 10px 0;
  }
}

.blog__post__form .form .blog__post__form__input:not(:last-child) {
  margin-right: 25px;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form .blog__post__form__input:not(:last-child) {
    margin-right: 0;
  }
}

.blog__post__form .form textarea {
  background: #fafafa;
  max-width: 810px;
  width: 100%;
  padding: 12px 0;
  padding-left: 10px;
  outline: none;
  color: #c4c4c4;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form textarea {
    max-width: 300px;
    width: 100%;
  }
}

.blog__post__form .form .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}

.blog__post__form .form .form__btn button {
  padding: 10px 40px;
  border-radius: 2px;
  background-color: #000000;
  border: none;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.blog__post__form .form .form__btn button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #777777;
}

.blog__post__form .form .message__modal {
  opacity: 0;
  visibility: hidden;
  background: #333333;
  border-radius: 20px;
  padding: 30px;
  position: absolute;
  color: #ffffff;
  line-height: 2;
  top: 0;
  left: 0;
}

footer .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 65px 0 43px;
}

footer .footer__socials {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer__socials a {
  font-size: 14px;
  color: #777777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer__socials a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #000000;
}

footer .footer__socials a:not(:last-child) {
  margin-right: 55px;
}

@media screen and (max-width: 430px) {
  footer .footer__socials a:not(:last-child) {
    margin-right: 20px;
  }
}

footer .footer__text {
  padding: 35px 0 45px;
  text-align: center;
}

footer .footer__text p {
  font-size: 13px;
  color: #9c9c9c;
  font-weight: 400;
}

footer .footer__text span {
  color: #000000;
}

footer .to_top {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 11px;
  z-index: 1212;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #959595;
}

footer .to_top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  z-index: 1213;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .to_top:hover {
  background: transparent;
  border: 1px solid #959595;
}

footer .to_top:hover p {
  color: #959595;
}

.heading {
  padding: 0;
  position: relative;
}

.heading .owl-carousel .heading__slaide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading .owl-carousel .heading__slaide img {
  max-height: 660px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.heading .owl-carousel .heading__slaide .header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading .owl-carousel .heading__slaide h1 {
  max-width: 750px;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 15px 0 15px 0px;
}

@media screen and (max-width: 1220px) {
  .heading .owl-carousel .heading__slaide h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 870px) {
  .heading .owl-carousel .heading__slaide h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 760px) {
  .heading .owl-carousel .heading__slaide h1 {
    font-size: 15px;
  }
}

.heading .owl-carousel .heading__slaide p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

@media screen and (max-width: 760px) {
  .heading .owl-carousel .heading__slaide p {
    font-size: 13px;
  }
}

.heading .owl-nav_arrows {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
}

.heading .owl-nav_arrows .owl-nav_arrow {
  background: transparent;
  color: #000000;
  border: 1px solid #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.heading .owl-nav_arrows .owl-nav_arrow:hover {
  background: #000000;
  border: 1px solid #000000;
}

.heading .owl-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 0;
  left: 50%;
  margin-bottom: 50px;
}

.heading .owl-dots .owl-dot {
  position: relative;
  width: 10px;
  height: 10px;
  background: #fff !important;
  margin-right: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  outline: none;
  border-radius: 50%;
}

.heading .owl-dots .owl-dot.active {
  background: #000 !important;
}

.heading .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home__page__filter {
  padding: 70px 0;
  background: #fbfbfb;
}

.home__page__filter .home__page__filter__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-left: none;
  padding: 20px 0;
  margin-bottom: 25px;
}

.home__page__filter .home__page__filter__nav .filter__nav {
  font-size: 14px;
  letter-spacing: 1px;
  color: #777777;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 20px;
}

.home__page__filter .home__page__filter__nav .filter__nav:not(:last-child) {
  margin-right: 20px;
}

.home__page__filter .home__page__filter__nav .filter__nav:hover {
  color: #000000;
}

.home__page__filter .home__page__filter__nav .diagonal-line {
  font-size: 30px;
  color: #d9d9d9;
}

@media screen and (max-width: 781px) {
  .home__page__filter .home__page__filter__nav {
    padding: 10px 0;
  }
  .home__page__filter .home__page__filter__nav a {
    font-size: 10px;
    margin-left: 10px;
  }
  .home__page__filter .home__page__filter__nav a:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 560px) {
  .home__page__filter .home__page__filter__nav {
    padding: 10px 0;
  }
  .home__page__filter .home__page__filter__nav a {
    font-size: 10px;
    margin-left: 10px;
  }
  .home__page__filter .home__page__filter__nav a:not(:last-child) {
    margin-right: 10px;
  }
}

.home__page__filter .home__page__filter__works {
  margin-bottom: 40px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.home__page__filter .home__page__filter__works .home__page__filter__work {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 20px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  display: none;
  -webkit-animation: appear 0.5s forwards;
  animation: appear 0.5s forwards;
  position: relative;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home__page__filter .home__page__filter__works .home__page__filter__work.active {
  display: inline-block;
  width: 100%;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .work__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .work__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .overlay p {
  font-weight: lighter;
  font-size: 80px;
  color: #c9c9c9;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .overlay:hover {
  opacity: 1;
}

.home__page__filter .home__page__filter__btn {
  margin: 0 auto;
  padding: 10px 23px;
  background: #959595;
  max-width: 125px;
  border-radius: 2px;
  -webkit-transition: .7s;
  transition: .7s;
}

.home__page__filter .home__page__filter__btn a {
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.home__page__filter .home__page__filter__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact__form .contact__us {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .contact__form .contact__us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact__form .contact__us .form__adr {
    margin-bottom: 30px;
  }
}

.contact__form .contact__us .form__adr {
  margin-left: 30px;
}

.contact__form .contact__us .form__adr h2 {
  font-size: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact__form .contact__us .form__adr .subtitle {
  font-size: 18px;
  position: relative;
  margin-bottom: 75px;
}

.contact__form .contact__us .form__adr .subtitle::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: #06060a;
}

.contact__form .contact__us .form__adr p {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 700;
}

.contact__form .contact__us .form__adr .address {
  margin-bottom: 35px;
}

.contact__form .contact__us .form__adr span {
  font-size: 15px;
  font-weight: 300;
  color: #222222;
  font-style: italic;
  margin-left: 10px;
}

.contact__form .contact__us .form__adr a {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-family: "Roboto";
  font-weight: 700;
}

.contact__form .contact__us .form {
  max-width: 740px;
  width: 100%;
}

.contact__form .contact__us .form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__form .contact__us .form .inputs input {
  max-width: 355px;
  width: 100%;
  padding: 20px;
  font-style: italic;
  outline: none;
}

.contact__form .contact__us .form .inputs input:not(:last-child) {
  margin-right: 30px;
}

.contact__form .contact__us .form textarea {
  max-width: 740px;
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  font-style: italic;
  outline: none;
}

.contact__form .contact__us .form .btn button {
  padding: 10px;
  max-width: 218px;
  width: 100%;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.map {
  padding: 0;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 355px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.map .map__text {
  position: absolute;
  top: 35%;
  left: 60%;
  background: #ffffff;
  max-width: 326px;
  height: 130px;
  width: 100%;
}

@media screen and (max-width: 830px) {
  .map .map__text {
    left: 40%;
  }
}

@media screen and (max-width: 560px) {
  .map .map__text {
    left: 25%;
    max-width: 226px;
    height: 100px;
    width: 100%;
  }
}

.map .map__text h3 {
  padding-top: 30px;
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 700;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 560px) {
  .map .map__text h3 {
    padding-top: 10px;
  }
}

.map .map__text h3::after {
  position: absolute;
  content: "";
  bottom: -300%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 25px solid transparent;
  border-top: 35px solid #ffffff;
}

@media screen and (max-width: 560px) {
  .map .map__text h3::after {
    bottom: -455%;
  }
}

.map .map__text p {
  font-size: 14px;
  line-height: 1.7em;
  color: #777777;
  font-weight: 300;
  text-align: center;
}

.values {
  background: #fafafa;
}

.values h4 {
  font-size: 30px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  color: #000000;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.values .subtitle {
  letter-spacing: 0.1em;
  max-width: 595px;
  width: 100%;
  margin: 40px auto 60px auto;
  text-align: center;
}

.values p {
  font-size: 14px;
  line-height: 1.8em;
  color: #777777;
  font-weight: 400;
}

.values .values__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 350px));
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1169px) {
  .values .values__items .values__item {
    margin-bottom: 30px;
  }
}

.values .values__items .values__item .pic {
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  max-height: 245px;
}

.values .values__items .values__item h5 {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 23px 0 43px 0;
  text-transform: uppercase;
}

.works__slider {
  padding: 0;
}

.works__slider .btns {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__slider .btns .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__slider .btns .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 165px;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 25px 30px;
  width: 165px;
}

.works__slider .btns .btn p {
  color: #071f08;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
}

.works__slider .main_slider {
  min-width: 0;
  background-color: #fafafa;
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 550px));
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__slider .main_slider .slider__content {
  margin: 0 15px;
}

.works__slider .main_slider .slider__content h2 {
  color: #000000;
  font-family: "Roboto - Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.works__slider .main_slider .slider__content .subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.works__slider .main_slider .slider__content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  margin: 30px 0;
  border-top: 1px solid #cccccc;
  padding-top: 30px;
}

.works__slider .main_slider .slider__content .data p {
  font-family: "Roboto - Bold";
  font-weight: 700;
  letter-spacing: 0.03em;
}

.works__slider .main_slider .slider__content .data p:not(:last-child) {
  margin-right: 60px;
}

.works__slider .main_slider .slider__content .text {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.035em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 60px;
}

.works__slider .main_slider .slider__content h3 {
  color: #333333;
  font-family: "Roboto - Bold";
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 40px 0 20px;
}

.works__slider .main_slider .slider__content .subtext {
  font-family: "Roboto - Regular";
  font-weight: 400;
  letter-spacing: 0.04em;
  padding-bottom: 20px;
}

.works__slider .main_slider .prev_sliders {
  min-width: 0;
  width: 560px !important;
  width: 100%;
  padding: 0 15px;
}

.works__slider .main_slider .prev_sliders .slider__pic {
  min-width: 0;
  width: 560px !important;
  width: 100%;
  margin-bottom: 30px;
}

.works__slider .main_slider .prev_sliders .slider__pic .slick-slide {
  overflow: hidden;
  height: 350px;
  max-width: 550px;
  width: 100%;
  position: relative;
  z-index: 999;
}

.works__slider .main_slider .prev_sliders .slider__pic .slick-slide img {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .main_slider .prev_sliders .slider__pic .slick-slide .slick-list img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .main_slider .slider-nav {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.works__slider .main_slider .slider-nav .slick-list {
  padding: 0 0 !important;
  width: 560px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 125px;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track {
  width: 560px !important;
  margin: 0 0 !important;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide {
  height: 115px !important;
  width: 125px !important;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide:not(:last-child) {
  margin-right: 9px;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #00000077;
  opacity: 0;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide:hover::after {
  opacity: 1;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track img {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: 115px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .socials {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  padding: 15px 0;
}

.works__slider .socials .socials__btn {
  padding: 12px 0;
  background-color: #707070;
  margin-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.works__slider .socials .socials__btn a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
  padding: 12px;
}

.works__slider .socials .socials__btn a i {
  margin-right: 10px;
}

.works__slider .socials .socials__btn:hover {
  color: #d1cfcf;
  -webkit-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
  box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.works__slider .socials .socials__icons {
  opacity: 0;
  padding: 12px;
  background-color: #e1e1e1;
  position: relative;
}

.works__slider .socials .socials__icons.active {
  opacity: 1;
}

.works__slider .socials .socials__icons::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid transparent;
  border-right: 5px solid #e1e1e1;
}

.works__slider .socials .socials__icons a i {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.07em;
  padding: 0 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works__slider .socials .socials__icons a i:hover {
  color: #fff;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.relative__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fafafa;
}

.relative__works h3 {
  color: #000000;
  font-family: "Roboto - Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.relative__works .subtitle {
  color: #777777;
  font-family: "Roboto - Light";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 1.5em;
  text-align: center;
  max-width: 527px;
  width: 100%;
  margin: 40px 0 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.relative__works .works__items {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 354px));
  gap: 35px;
}

.heading__portfolio {
  height: 350px;
  height: 100%;
  width: 100%;
  padding-bottom: 70px;
}

.heading__portfolio .heading__item {
  position: relative;
  height: 100%;
  width: 100%;
}

.heading__portfolio .heading__item .heading_img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading__portfolio .heading__item .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading__portfolio .heading__item .container .heading__texts {
  top: 50%;
  left: 0;
}

.heading__portfolio .heading__item .container .heading__texts h1 {
  font-size: 48px;
  letter-spacing: 5px;
  line-height: 1em;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto";
  margin-bottom: 30px;
  background: #000;
  width: 600px;
  padding: 0 0 0 35px;
}

@media screen and (max-width: 880px) {
  .heading__portfolio .heading__item .container .heading__texts h1 {
    font-size: 30px;
    width: 430px;
  }
}

@media screen and (max-width: 650px) {
  .heading__portfolio .heading__item .container .heading__texts h1 {
    font-size: 20px;
    width: 330px;
  }
}

@media screen and (max-width: 650px) {
  .heading__portfolio .heading__item .container .heading__texts h1 {
    width: 220px;
  }
}

.heading__portfolio .heading__item .container .heading__texts p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.story {
  background-color: #fafafa;
}

.story .lian__story {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 540px));
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.story .lian__story .story__pic {
  max-width: 535px;
  width: 100%;
  max-height: 602px;
  height: 100%;
}

.story .lian__story .story__pic .item {
  max-width: 535px;
  max-height: 602px;
  width: 100%;
  height: 100%;
}

.story .lian__story .story__pic .item img {
  max-width: 535px;
  max-height: 602px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-position: right;
  object-position: right;
}

.story .lian__story .story__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.story .lian__story .story__content .stoty__text h2 {
  font-size: 18px;
  letter-spacing: 7px;
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
  text-transform: uppercase;
}

.story .lian__story .story__content .stoty__text p {
  font-size: 18px;
  letter-spacing: 0.1;
  line-height: 1.5;
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
  margin: 28px 0;
}

.story .lian__story .story__content .story__skills {
  max-width: 560px;
  width: 100%;
  max-height: 294px;
  height: 100%;
  overflow: hidden;
}

.story .lian__story .story__content .story__skills img {
  -o-object-fit: cover;
  object-fit: cover;
}

.team {
  background-color: #fafafa;
}

.team h3 {
  color: #000000;
  font-family: "Roboto - Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.team p {
  font-size: 14px;
  line-height: 1.8em;
  color: #777777;
  font-weight: 400;
  letter-spacing: 0.1em;
  max-width: 595px;
  width: 100%;
  margin: 40px auto 60px auto;
  text-align: center;
}

.team .team__members {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 332px));
  gap: 30px;
}

.team .team__members .team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.team .team__members .team__member .team__member__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 359px;
  max-height: 438px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
  -o-object-position: center;
  object-position: center;
}

.team .team__members .team__member .team__member__text {
  background-color: #ffffff;
  padding: 0 30px;
}

.team .team__members .team__member .team__member__text h5 {
  font-size: 18px;
  letter-spacing: .2em;
  color: #000000;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  text-align: left;
  margin: 25px 0 10px;
}

.team .team__members .team__member .team__member__text .subtl {
  margin: 0;
  text-align: left;
}

.team .team__members .team__member .team__member__text p {
  text-align: left;
  margin: 20px 0 30px;
}

body.dark {
  color: #777777;
  background-color: #3b3a3a;
}

body.dark header {
  -webkit-box-shadow: 1px 2px 5px 1px rgba(238, 231, 231, 0.15);
  box-shadow: 1px 2px 5px 1px rgba(238, 231, 231, 0.15);
  background-color: #383737;
}

body.dark header .header__nav__list a {
  color: #b6b4b4;
}

body.dark header .header__nav__list a.active {
  color: #f1f1f3;
}

body.dark header .header__nav__list a:hover {
  color: #ebe6e6;
}

body.dark header .header__nav__list a:hover::after {
  background-color: #f1f1f3;
}

body.dark header .header__search a i {
  color: #b6b4b4;
}

body.dark header .header__burger {
  border: 2px solid #b6b4b4;
}

body.dark header .header__burger .header__line {
  background: #b6b4b4;
}

body.dark header .theme__btn .switch-btn::after {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000000;
}

body.dark header .theme__btn .switch-on {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body.dark .home__page__filter {
  background: #4e4d4d;
}

body.dark .home__page__filter .home__page__filter__nav {
  border: 1px solid #d9d9d9;
}

body.dark .home__page__filter .home__page__filter__nav a {
  color: #929191;
}

body.dark .home__page__filter .home__page__filter__nav a:hover {
  color: #d9d9d9;
}

body.dark .home__page__filter .home__page__filter__nav .diagonal-line {
  color: #d9d9d9;
}

body.dark .home__page__filter .home__page__filter__works .home__page__filter__work p {
  color: #c9c9c9;
}

body.dark .contact__form .contact__us h2 {
  color: #ffffff;
}

body.dark .contact__form .contact__us .subtitle::after {
  background-color: #727070;
}

body.dark .contact__form .contact__us p {
  color: #727070;
}

body.dark .contact__form .contact__us .address {
  margin-bottom: 35px;
}

body.dark .contact__form .contact__us span {
  color: #fff;
}

body.dark .contact__form .contact__us a {
  color: #727070;
}

body.dark .contact__form .form .inputs input {
  background: #777777;
  border: none;
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::-webkit-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::-moz-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input:-ms-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::-ms-input-placeholder {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea {
  background: #777777;
  color: #ffffff;
}

body.dark .contact__form .form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea::-moz-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea:-ms-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea::-ms-input-placeholder {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

body.dark .contact__form .form textarea::placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .btn button {
  background-color: #eeecec;
  color: #2e2d2d;
}

body.dark .values, body.dark .blog, body.dark .story, body.dark .team, body.dark .main_slider, body.dark .relative__works {
  background: #4b4a4a;
}

body.dark .values h2,
body.dark .values h3,
body.dark .values h4,
body.dark .values h5, body.dark .blog h2,
body.dark .blog h3,
body.dark .blog h4,
body.dark .blog h5, body.dark .story h2,
body.dark .story h3,
body.dark .story h4,
body.dark .story h5, body.dark .team h2,
body.dark .team h3,
body.dark .team h4,
body.dark .team h5, body.dark .main_slider h2,
body.dark .main_slider h3,
body.dark .main_slider h4,
body.dark .main_slider h5, body.dark .relative__works h2,
body.dark .relative__works h3,
body.dark .relative__works h4,
body.dark .relative__works h5 {
  color: #dad8d8;
}

body.dark .values p, body.dark .blog p, body.dark .story p, body.dark .team p, body.dark .main_slider p, body.dark .relative__works p {
  color: #a8a7a7;
}

body.dark .works__slider .btn p {
  color: #9c9c9c;
}

body.dark footer .footer__socials a:hover {
  color: #f7f3f3;
}

body.dark footer .footer__text p {
  color: #9c9c9c;
}

body.dark footer .footer__text span {
  color: #ebe8e8;
}

.blog {
  background-color: #fafafa;
}

.blog .blog__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 545px) {
  .blog .blog__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.blog .blog__page .blog__page__items .blog__page__articles {
  margin-bottom: 40px;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

@media screen and (max-width: 845px) {
  .blog .blog__page .blog__page__items .blog__page__articles {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media screen and (max-width: 545px) {
  .blog .blog__page .blog__page__items .blog__page__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.blog .blog__page .blog__page__items .blog__page__article__video {
  position: relative;
}

.blog .blog__page .blog__page__items .blog__page__article__video .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
}

.blog .blog__page .blog__page__items .blog__page__article__video .overlay i {
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #777;
}

.blog .blog__page .blog__page__items .blog__page__article {
  margin-bottom: 30px;
  max-width: 357px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.blog .blog__page .blog__page__items .blog__page__article:not(:last-child) {
  margin-right: 30px;
}

.blog .blog__page .blog__page__items .blog__page__article img {
  max-width: 357px;
  width: 100%;
}

.blog .blog__page .blog__page__items .blog__page__article .overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000c0;
  display: none;
}

.blog .blog__page .blog__page__items .blog__page__article .text {
  margin: 30px 50px;
  z-index: 100;
  position: relative;
}

.blog .blog__page .blog__page__items .blog__page__article:hover .overlay1 {
  display: inline-block;
}

.blog .blog__page .blog__page__items .blog__page__article:hover .text h2,
.blog .blog__page .blog__page__items .blog__page__article:hover .text i,
.blog .blog__page .blog__page__items .blog__page__article:hover .text p {
  color: #ffffff;
}

.blog .blog__page .blog__page__items .blog__page__article .label {
  max-width: 97px;
  width: 100%;
  background: #000000;
  margin-bottom: 30px;
}

.blog .blog__page .blog__page__items .blog__page__article .label span {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.15em;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.blog .blog__page .blog__page__items .blog__page__article .label__2 {
  max-width: 115px;
  width: 100%;
}

.blog .blog__page .blog__page__items .blog__page__article h2 {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__outher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__outher p {
  width: 150px;
  height: 23px;
  font-size: 13px;
  color: #9a9a9ac2;
  font-family: "Font Awesome";
  margin: 0 10px;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__outher i {
  color: #9a9a9ac2;
  padding-top: 5px;
}

.blog .blog__page .blog__page__items .blog__page__article p {
  font-size: 14px;
  line-height: 1.8em;
  color: #777777;
  font-weight: 400;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__dateSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px 0 40px;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__dateSocials i {
  padding-top: 5px;
  font-size: 13px;
  color: #9a9a9a;
  margin-right: 10px;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__dateSocials .blog__page__article__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__pic {
  max-width: 358px;
  max-height: 242px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-position: center;
  object-position: center;
}

.blog .blog__page .blog__page__items .blog__page__article .blog__page__article__pic img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  max-width: 358px;
  width: 100%;
}

.blog .blog__page .blog__page__items .blog__page__article__bacground {
  background: url(../img/blog2.png) no-repeat center/cover;
}

.blog .blog__page .blog__page__items .blog__page__filter__btn {
  margin: 0 auto;
  padding: 10px 23px;
  background: #959595;
  max-width: 125px;
  border-radius: 2px;
  -webkit-transition: .7s;
  transition: .7s;
}

.blog .blog__page .blog__page__items .blog__page__filter__btn a {
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.blog .blog__page .blog__page__items .blog__page__filter__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog .blog__page .blog__page__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 25px;
  max-width: 362px;
  width: 100%;
}

.blog .blog__page .blog__page__sidebar .search .blogForm {
  border: none;
  max-height: 60px;
  height: 60px;
  background-color: #ffffff;
}

.blog .blog__page .blog__page__sidebar .search .blogForm input {
  outline: none;
  border: none;
  max-width: 310px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #b7b7b7;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1302px) {
  .blog .blog__page .blog__page__sidebar .search .blogForm input {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 966px) {
  .blog .blog__page .blog__page__sidebar .search .blogForm input {
    max-width: 210px;
    width: 100%;
  }
}

@media screen and (max-width: 897px) {
  .blog .blog__page .blog__page__sidebar .search .blogForm input {
    max-width: 170px;
    width: 100%;
  }
}

@media screen and (max-width: 545px) {
  .blog .blog__page .blog__page__sidebar .search .blogForm input {
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 385px) {
  .blog .blog__page .blog__page__sidebar .search .blogForm input {
    max-width: 270px;
    width: 100%;
  }
}

.blog .blog__page .blog__page__sidebar .search .blogForm button {
  border: none;
  background-color: #999999;
  color: #fff;
  width: 35px;
  height: 35px;
}

.blog .blog__page .blog__page__sidebar .blog__page__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 40px;
  height: 100%;
  background-color: #ebebeb;
  position: relative;
  margin-top: 45px;
  padding: 15px;
}

.blog .blog__page .blog__page__sidebar .blog__page__heading::after {
  content: "";
  top: 40px;
  left: 50%;
  position: absolute;
  border: 8px solid transparent;
  border-top: 12px solid #ebebeb;
}

.blog .blog__page .blog__page__sidebar .blog__page__heading h4 {
  font-size: 18px;
  letter-spacing: .2em;
  color: #000000;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 966px) {
  .blog .blog__page .blog__page__sidebar .blog__page__heading h4 {
    font-size: 14px;
  }
}

.blog .blog__page .blog__page__sidebar .recent__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post:not(:first-child) {
  margin-top: 21px;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post .pic {
  max-width: 90px;
  width: 100%;
  max-height: 65px;
  height: 100%;
  overflow: hidden;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post .pic img {
  -o-object-fit: center;
  object-fit: center;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post .title {
  margin-left: 18px;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post .title h2 {
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 500;
  font-weight: bold;
}

.blog .blog__page .blog__page__sidebar .recent__posts .recent__post .title p {
  margin-top: 18px;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 300;
}

.blog .blog__page .blog__page__sidebar .popular__tags {
  padding: 20px;
  background: #ffffff;
}

.blog .blog__page .blog__page__sidebar .popular__tags a {
  margin: 10px 5px;
  padding: 5px;
  border: 1px solid #9c9c9c;
  vertical-align: baseline;
  line-height: 3em;
  white-space: nowrap;
  font-size: 13px;
  color: #9c9c9c;
  font-weight: 400;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 966px) {
  .blog .blog__page .blog__page__sidebar .popular__tags a {
    font-size: 9px;
    padding: 1px;
  }
}

.blog .blog__page .blog__page__sidebar .popular__tags a:hover {
  background-color: #000000;
  color: #ffffff;
}

.blog .blog__page .blog__page__sidebar .instagram {
  padding: 20px;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.blog .blog__page .blog__page__sidebar .instagram .instapic {
  max-width: 100px;
  max-height: 80px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
