@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

header {
  background: #fff;
  -webkit-box-shadow: 1px 2px 5px 1px rgba(97, 71, 71, 0.15);
  box-shadow: 1px 2px 5px 1px rgba(97, 71, 71, 0.15);
  position: relative;
  z-index: 100;
}

header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1102px) {
  header .header__nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

header .header__nav .header__logo {
  width: 131px;
  height: 35px;
}

header .header__nav .header__nav__list {
  margin-left: 60px;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list {
    display: none;
  }
}

header .header__nav .header__nav__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1000;
  position: absolute;
  padding-top: 40px;
  top: 0;
  right: 54px;
  width: 150px;
  height: 200px;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  background: #413f3f94;
}

header .header__nav .header__nav__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.5em;
    margin-left: 30px;
  }
}

header .header__nav .header__nav__list ul li:not(:last-child) {
  margin-right: 45px;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list ul li:not(:last-child) {
    margin-right: 0px;
  }
}

header .header__nav .header__nav__list ul li a {
  color: #777777;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__nav .header__nav__list ul li a::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: 50%;
  width: 20px;
  height: 2px;
  background-color: #06060a;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__nav .header__nav__list ul li a:hover {
  color: #000;
}

header .header__nav .header__nav__list ul li a:hover::after {
  opacity: 1;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__nav__list ul li a {
    color: #ffffff;
    line-height: 2;
  }
}

header .header__nav .header__mini__nav {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .header__nav .header__mini__nav .header__search a i {
  color: #444444;
  font-weight: 700;
}

header .header__nav .header__mini__nav .header__burger {
  margin-left: 20px;
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid #6d6e71;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  z-index: 1100;
  cursor: pointer;
}

header .header__nav .header__mini__nav .header__burger .header__line {
  display: block;
  width: 20px;
  height: 2px;
  background: #6d6e71;
}

header .header__nav .header__mini__nav .header__burger .header__line_middle {
  margin: 5px 0;
}

@media screen and (max-width: 1102px) {
  header .header__nav .header__mini__nav .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
  }
}

header .header__nav .header__mini__nav .theme__btn {
  margin-left: 30px;
}

@media screen and (max-width: 560px) {
  header .header__nav .header__mini__nav .theme__btn {
    margin-left: 20px;
  }
}

header .header__nav .header__mini__nav .theme__btn .switch-btn {
  display: inline-block;
  width: 62px;
  /* ширина переключателя */
  height: 24px;
  /* высота переключателя */
  border-radius: 12px;
  /* радиус скругления */
  background: #bfbfbf;
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  /* анимация */
}

@media screen and (max-width: 560px) {
  header .header__nav .header__mini__nav .theme__btn .switch-btn {
    width: 42px;
    /* ширина переключателя */
    height: 14px;
    /* высота переключателя */
  }
}

header .header__nav .header__mini__nav .theme__btn .switch-btn::after {
  content: "";
  height: 36px;
  /* высота кнопки */
  width: 36px;
  /* ширина кнопки */
  border-radius: 18px;
  /* радиус кнопки */
  background: #fff;
  /* цвет кнопки */
  top: -6px;
  /* положение кнопки по вертикали относительно основы */
  left: -6px;
  /* положение кнопки по горизонтали относительно основы */
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  /* анимация */
  -webkit-box-shadow: 0 0 10px 0 #999999;
  box-shadow: 0 0 10px 0 #999999;
  /* тень */
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 560px) {
  header .header__nav .header__mini__nav .theme__btn .switch-btn::after {
    height: 20px;
    /* высота кнопки */
    width: 20px;
    /* ширина кнопки */
    top: -4px;
  }
}

header .header__nav .header__mini__nav .theme__btn .switch-on {
  background: #fff;
  -webkit-box-shadow: inset 0 0 10px 0 #999999;
  box-shadow: inset 0 0 10px 0 #999999;
  /* тень */
}

header .header__nav .header__mini__nav .theme__btn .switch-on::after {
  left: 30px;
  background: #505050;
}

.heading {
  padding: 0;
  background: #f0f0f2;
}

.heading .heading__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.heading .heading__pic {
  margin-left: auto;
}

.heading .heading__pic img {
  max-width: 700px;
  width: 100%;
}

.heading .heading__text {
  position: absolute;
  top: 50%;
  left: 220px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 660px) {
  .heading .heading__text {
    left: 170px;
  }
}

.heading h1 {
  max-width: 480px;
  white-space: nowrap;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 15px 0 15px 0px;
}

@media screen and (max-width: 760px) {
  .heading h1 {
    font-size: 30px;
  }
}

.heading p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.heading__portfolio {
  background-color: #e2e2e2;
}

.heading__portfolio .heading__text {
  left: 320px;
}

@media screen and (max-width: 660px) {
  .heading__portfolio .heading__text {
    left: 170px;
  }
}

.heading {
  padding: 0;
}

.heading .header__content img {
  height: 350px;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.heading .header__content .header__text {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading .header__content h1 {
  max-width: 470px;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 15px 0 15px 0px;
}

@media screen and (max-width: 760px) {
  .heading .header__content h1 {
    font-size: 40px;
  }
}

.heading .header__content p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.blog__post h2 {
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 30px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.blog__post .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__post .subtitle .subtitle__text {
  color: #777777;
  margin: 20px 0;
  font-weight: 700;
}

.blog__post .subtitle .subtitle__text:not(:last-child) {
  margin-right: 65px;
}

.blog__post .subtitle .subtitle__text i {
  margin-right: 10px;
}

.blog__post .blog__post__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__post .blog__post__img img {
  max-width: 945px;
  width: 100%;
}

.blog__post .blog__post__text {
  line-height: 2em;
  color: #777777;
  font-family: "Roboto";
  font-weight: 400;
  padding: 25px 60px;
}

.blog__post h3 {
  line-height: 2em;
  color: #777777;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 60px;
  margin-top: 30px;
}

.blog__post .blog__post__quote {
  padding: 20px 40px;
  font-size: 18px;
  line-height: 30px;
  color: #777777;
  font-family: "PT Serif";
  font-weight: 700;
  font-style: italic;
  border: 1px solid #e1e1e1;
  border-left: 5px solid #c8c8c8;
}

.blog__post__form {
  background: #fafafa;
}

.blog__post__form h4 {
  font-size: 20px;
  letter-spacing: 4px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.blog__post__form .form {
  margin-right: auto;
  margin-left: auto;
  max-width: 810px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form .form__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.blog__post__form .form .blog__post__form__input {
  background: #fafafa;
  max-width: 250px;
  width: 100%;
  margin: 50px 0 20px 0;
  padding: 12px 0;
  padding-left: 10px;
  outline: none;
  color: #c4c4c4;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form .blog__post__form__input {
    margin: 0px 0 10px 0;
  }
}

.blog__post__form .form .blog__post__form__input:not(:last-child) {
  margin-right: 25px;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form .blog__post__form__input:not(:last-child) {
    margin-right: 0;
  }
}

.blog__post__form .form textarea {
  background: #fafafa;
  max-width: 810px;
  width: 100%;
  padding: 12px 0;
  padding-left: 10px;
  outline: none;
  color: #c4c4c4;
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .blog__post__form .form textarea {
    max-width: 300px;
    width: 100%;
  }
}

.blog__post__form .form .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}

.blog__post__form .form .form__btn button {
  padding: 10px 40px;
  border-radius: 2px;
  background-color: #000000;
  border: none;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.blog__post__form .form .form__btn button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #777777;
}

.blog__post__form .form .message__modal {
  opacity: 0;
  visibility: hidden;
  background: #333333;
  border-radius: 20px;
  padding: 30px;
  position: absolute;
  color: #ffffff;
  line-height: 2;
  top: 0;
  left: 0;
}

footer .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 65px 0 43px;
}

footer .footer__socials {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer__socials a {
  font-size: 14px;
  color: #777777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer__socials a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #000000;
}

footer .footer__socials a:not(:last-child) {
  margin-right: 55px;
}

@media screen and (max-width: 430px) {
  footer .footer__socials a:not(:last-child) {
    margin-right: 20px;
  }
}

footer .footer__text {
  padding: 35px 0 45px;
  text-align: center;
}

footer .footer__text p {
  font-size: 13px;
  color: #9c9c9c;
  font-weight: 400;
}

footer .footer__text span {
  color: #000000;
}

footer .to_top {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 11px;
  z-index: 1212;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #959595;
}

footer .to_top p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  z-index: 1213;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .to_top:hover {
  background: transparent;
  border: 1px solid #959595;
}

footer .to_top:hover p {
  color: #959595;
}

.heading {
  padding: 0;
  position: relative;
}

.heading .owl-carousel .heading__slaide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading .owl-carousel .heading__slaide img {
  max-height: 660px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.heading .owl-carousel .heading__slaide .header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading .owl-carousel .heading__slaide h1 {
  max-width: 750px;
  background: #000000;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding: 15px 0 15px 0px;
}

@media screen and (max-width: 1220px) {
  .heading .owl-carousel .heading__slaide h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 870px) {
  .heading .owl-carousel .heading__slaide h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 760px) {
  .heading .owl-carousel .heading__slaide h1 {
    font-size: 15px;
  }
}

.heading .owl-carousel .heading__slaide p {
  color: #000000;
  font-family: "Roboto";
  margin-top: 55px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

@media screen and (max-width: 760px) {
  .heading .owl-carousel .heading__slaide p {
    font-size: 13px;
  }
}

.heading .owl-nav_arrows {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
}

.heading .owl-nav_arrows .owl-nav_arrow {
  background: transparent;
  color: #000000;
  border: 1px solid #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.heading .owl-nav_arrows .owl-nav_arrow:hover {
  background: #000000;
  border: 1px solid #000000;
}

.heading .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .heading .slick-dots {
    bottom: 15px;
  }
}

.heading .slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  outline: none;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  font-size: 0;
  border-radius: 50%;
  background-color: #fff;
  width: 10px;
  height: 10px;
}

.heading .slick-dots li.slick-active {
  background: #000 !important;
}

.heading .slick-dots button {
  font-size: 0;
  position: relative;
}

.heading .slick-dots button::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.home__page__filter {
  padding: 0;
  background: #fbfbfb;
}

.home__page__filter .home__page__filter__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-left: none;
  padding: 20px 0;
  margin-bottom: 25px;
}

.home__page__filter .home__page__filter__nav .filter__nav {
  font-size: 14px;
  letter-spacing: 1px;
  color: #777777;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  margin-left: 20px;
}

.home__page__filter .home__page__filter__nav .filter__nav:not(:last-child) {
  margin-right: 20px;
}

.home__page__filter .home__page__filter__nav .filter__nav:hover {
  color: #000000;
}

.home__page__filter .home__page__filter__nav .diagonal-line {
  font-size: 30px;
  color: #d9d9d9;
}

@media screen and (max-width: 781px) {
  .home__page__filter .home__page__filter__nav {
    padding: 10px 0;
  }
  .home__page__filter .home__page__filter__nav a {
    font-size: 10px;
    margin-left: 10px;
  }
  .home__page__filter .home__page__filter__nav a:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 543px) {
  .home__page__filter .home__page__filter__nav {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home__page__filter .home__page__filter__nav span {
    display: none;
  }
  .home__page__filter .home__page__filter__nav a {
    font-size: 10px;
    margin-left: 10px;
  }
  .home__page__filter .home__page__filter__nav a:not(:last-child) {
    margin-right: 10px;
  }
}

.home__page__filter .home__page__filter__works {
  margin-bottom: 40px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.home__page__filter .home__page__filter__works .home__page__filter__work {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 20px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  display: none;
  -webkit-animation: appear 0.5s forwards;
  animation: appear 0.5s forwards;
  position: relative;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home__page__filter .home__page__filter__works .home__page__filter__work.active {
  display: inline-block;
  width: 100%;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .work__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .work__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .overlay p {
  font-weight: lighter;
  font-size: 80px;
  color: #c9c9c9;
}

.home__page__filter .home__page__filter__works .home__page__filter__work .overlay:hover {
  opacity: 1;
}

.home__page__filter .home__page__filter__btn {
  margin: 0 auto;
  padding: 10px 23px;
  background: #959595;
  max-width: 125px;
  border-radius: 2px;
}

.home__page__filter .home__page__filter__btn a {
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.contact__form .contact__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .contact__form .contact__us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact__form .contact__us .form__adr {
    margin-bottom: 30px;
  }
}

.contact__form .contact__us .form__adr {
  margin-left: 30px;
}

.contact__form .contact__us .form__adr h2 {
  font-size: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact__form .contact__us .form__adr .subtitle {
  font-size: 18px;
  position: relative;
  margin-bottom: 75px;
}

.contact__form .contact__us .form__adr .subtitle::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: #06060a;
}

.contact__form .contact__us .form__adr p {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 700;
}

.contact__form .contact__us .form__adr .address {
  margin-bottom: 35px;
}

.contact__form .contact__us .form__adr span {
  font-size: 15px;
  font-weight: 300;
  color: #222222;
  font-style: italic;
  margin-left: 10px;
}

.contact__form .contact__us .form__adr a {
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-family: "Roboto";
  font-weight: 700;
}

.contact__form .contact__us .form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__form .contact__us .form .inputs input {
  max-width: 355px;
  width: 100%;
  padding: 20px;
  font-style: italic;
  outline: none;
}

.contact__form .contact__us .form .inputs input:not(:last-child) {
  margin-right: 30px;
}

.contact__form .contact__us .form textarea {
  max-width: 740px;
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  font-style: italic;
  outline: none;
}

.contact__form .contact__us .form .btn button {
  padding: 10px;
  max-width: 218px;
  width: 100%;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.map {
  padding: 0;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 355px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.map .map__text {
  position: absolute;
  top: 35%;
  left: 60%;
  background: #ffffff;
  max-width: 326px;
  height: 130px;
  width: 100%;
}

@media screen and (max-width: 830px) {
  .map .map__text {
    left: 40%;
  }
}

@media screen and (max-width: 560px) {
  .map .map__text {
    left: 25%;
    max-width: 226px;
    height: 100px;
    width: 100%;
  }
}

.map .map__text h3 {
  padding-top: 30px;
  font-size: 15px;
  line-height: 24px;
  color: #222222;
  font-weight: 700;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 560px) {
  .map .map__text h3 {
    padding-top: 10px;
  }
}

.map .map__text h3::after {
  position: absolute;
  content: "";
  bottom: -300%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 25px solid transparent;
  border-top: 35px solid #ffffff;
}

@media screen and (max-width: 560px) {
  .map .map__text h3::after {
    bottom: -455%;
  }
}

.map .map__text p {
  font-size: 14px;
  line-height: 1.7em;
  color: #777777;
  font-weight: 300;
  text-align: center;
}

.values {
  background: #fafafa;
}

.values h4 {
  font-size: 30px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  color: #000000;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.values .subtitle {
  letter-spacing: 0.1em;
  max-width: 595px;
  width: 100%;
  margin: 40px auto 60px auto;
  text-align: center;
}

.values p {
  font-size: 14px;
  line-height: 1.8em;
  color: #777777;
  font-weight: 400;
}

.values__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 350px));
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1169px) {
  .values__items .values__item {
    margin-bottom: 30px;
  }
}

.values__items .values__item .pic {
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  max-height: 245px;
}

.values__items .values__item h5 {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #000000;
  margin: 23px 0 43px 0;
  text-transform: uppercase;
}

.works__slider {
  padding: 0;
}

.works__slider .btns {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__slider .btns .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__slider .btns .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 165px;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 25px 30px;
  width: 165px;
}

.works__slider .btns .btn p {
  color: #071f08;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
}

.works__slider .main_slider {
  min-width: 0;
  background-color: #fafafa;
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 550px));
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.works__slider .main_slider .slider__content {
  margin: 0 15px;
}

.works__slider .main_slider .slider__content h2 {
  color: #000000;
  font-family: "Roboto - Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.works__slider .main_slider .slider__content .subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.works__slider .main_slider .slider__content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  margin: 30px 0;
  border-top: 1px solid #cccccc;
  padding-top: 30px;
}

.works__slider .main_slider .slider__content .data p {
  font-family: "Roboto - Bold";
  font-weight: 700;
  letter-spacing: 0.03em;
}

.works__slider .main_slider .slider__content .data p:not(:last-child) {
  margin-right: 60px;
}

.works__slider .main_slider .slider__content .text {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.035em;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 60px;
}

.works__slider .main_slider .slider__content h3 {
  color: #333333;
  font-family: "Roboto - Bold";
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 40px 0 20px;
}

.works__slider .main_slider .slider__content .subtext {
  font-family: "Roboto - Regular";
  font-weight: 400;
  letter-spacing: 0.04em;
  padding-bottom: 20px;
}

.works__slider .main_slider .prev_sliders {
  min-width: 0;
  width: 560px !important;
  width: 100%;
  padding: 0 15px;
}

.works__slider .main_slider .prev_sliders .slider__pic {
  min-width: 0;
  width: 560px !important;
  width: 100%;
  margin-bottom: 30px;
}

.works__slider .main_slider .prev_sliders .slider__pic .slick-slide {
  overflow: hidden;
  height: 350px;
  max-width: 550px;
  width: 100%;
  position: relative;
  z-index: 999;
}

.works__slider .main_slider .prev_sliders .slider__pic .slick-slide img {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .main_slider .prev_sliders .slider__pic .slick-slide .slick-list img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .main_slider .slider-nav {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.works__slider .main_slider .slider-nav .slick-list {
  padding: 0 0 !important;
  width: 560px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 125px;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track {
  width: 560px !important;
  margin: 0 0 !important;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide {
  height: 115px !important;
  width: 125px !important;
  overflow: hidden;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide:not(:last-child) {
  margin-right: 9px;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #00000077;
  opacity: 0;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track .slick-slide:hover::after {
  opacity: 1;
}

.works__slider .main_slider .slider-nav .slick-list .slick-track img {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  height: 115px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.works__slider .socials {
  background-color: #fafafa;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  padding: 15px;
}

.works__slider .socials .socials__btn {
  padding: 12px;
  background-color: #707070;
  margin-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.works__slider .socials .socials__btn a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}

.works__slider .socials .socials__btn a i {
  margin-right: 10px;
}

.works__slider .socials .socials__btn:hover {
  color: #d1cfcf;
  -webkit-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
  box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.works__slider .socials .socials__icons {
  opacity: 0;
  padding: 12px;
  background-color: #e1e1e1;
  position: relative;
}

.works__slider .socials .socials__icons.active {
  opacity: 1;
}

.works__slider .socials .socials__icons::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid transparent;
  border-right: 5px solid #e1e1e1;
}

.works__slider .socials .socials__icons a i {
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.07em;
  padding: 0 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works__slider .socials .socials__icons a i:hover {
  color: #fff;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.relative__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fafafa;
}

.relative__works h3 {
  color: #000000;
  font-family: "Roboto - Light";
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.relative__works .subtitle {
  color: #777777;
  font-family: "Roboto - Light";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 1.5em;
  text-align: center;
  max-width: 527px;
  width: 100%;
  margin: 40px 0 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.relative__works .works__items {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 354px));
  gap: 35px;
}

body.dark {
  color: #777777;
  background-color: #2e2b2b;
}

body.dark header {
  -webkit-box-shadow: 1px 2px 5px 1px rgba(238, 231, 231, 0.15);
  box-shadow: 1px 2px 5px 1px rgba(238, 231, 231, 0.15);
  background-color: #1d1d1d;
}

body.dark header .header__nav__list {
  background-color: #1d1d1d;
}

body.dark header .header__nav__list a {
  color: #b6b4b4;
}

body.dark header .header__nav__list a:hover {
  color: #ebe6e6;
  color: #918f8f;
}

body.dark header .header__nav__list a:hover::after {
  background-color: #f1f1f3;
}

body.dark header .header__search a i {
  color: #b6b4b4;
}

body.dark header .header__burger {
  border: 2px solid #b6b4b4;
}

body.dark header .header__burger .header__line {
  background: #b6b4b4;
}

body.dark header .theme__btn .switch-btn::after {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body.dark header .theme__btn .switch-on {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body.dark .home__page__filter {
  background: #4e4d4d;
}

body.dark .home__page__filter .home__page__filter__nav {
  border: 1px solid #d9d9d9;
}

body.dark .home__page__filter .home__page__filter__nav a {
  color: #929191;
}

body.dark .home__page__filter .home__page__filter__nav a:hover {
  color: #d9d9d9;
}

body.dark .home__page__filter .home__page__filter__nav .diagonal-line {
  color: #d9d9d9;
}

body.dark .home__page__filter .home__page__filter__works .home__page__filter__work p {
  color: #c9c9c9;
}

body.dark .contact__form .contact__us h2 {
  color: #ffffff;
}

body.dark .contact__form .contact__us .subtitle::after {
  background-color: #727070;
}

body.dark .contact__form .contact__us p {
  color: #727070;
}

body.dark .contact__form .contact__us .address {
  margin-bottom: 35px;
}

body.dark .contact__form .contact__us span {
  color: #fff;
}

body.dark .contact__form .contact__us a {
  color: #727070;
}

body.dark .contact__form .form .inputs input {
  background: #777777;
  border: none;
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::-webkit-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::-moz-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input:-ms-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::-ms-input-placeholder {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

body.dark .contact__form .form .inputs input::placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea {
  background: #777777;
  color: #ffffff;
}

body.dark .contact__form .form textarea::-webkit-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea::-moz-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea:-ms-input-placeholder {
  color: #ffffff;
}

body.dark .contact__form .form textarea::-ms-input-placeholder {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

undefined {
  color: #ffffff;
}

body.dark .contact__form .form textarea::placeholder {
  color: #ffffff;
}

body.dark .contact__form .form .btn button {
  background-color: #eeecec;
  color: #2e2d2d;
}

body.dark .values {
  background: #4b4a4a;
}

body.dark .values h2,
body.dark .values h3,
body.dark .values h4,
body.dark .values h5 {
  color: #dad8d8;
}

body.dark .values p {
  color: #a8a7a7;
}

body.dark .works__slider .btn p {
  color: #9c9c9c;
}

body.dark .works__slider .main_slider {
  background: #4b4a4a;
}

body.dark .works__slider .main_slider h2,
body.dark .works__slider .main_slider h3,
body.dark .works__slider .main_slider h4,
body.dark .works__slider .main_slider h5 {
  color: #dad8d8;
}

body.dark .works__slider .main_slider p {
  color: #a8a7a7;
}

body.dark footer .footer__socials a:hover {
  color: #f7f3f3;
}

body.dark footer .footer__text p {
  color: #9c9c9c;
}

body.dark footer .footer__text span {
  color: #ebe8e8;
}
